<%- include("templates/header") %>

<div class="message-container">

    <h2><%= title %></h2>

    <p><%= message %></p>

    <a href="<%= link %>">
        <button><%= buttonText %></button>
    </a>

</div>

<%- include("templates/footer") %>